@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
    <h2>ASP.NET MVC会议预定系统</h2>
    <p class="lead">
        管理员登录用户名:admin，密码：admin
        <br />
        要使用普通账号，请先"注册"，并且激活该账号
    </p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">立即登录 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC 5</h2>
        <p>
            ASP.NET异步Action
            <br />
            ASP.NET Identity Framework 2.0
            <br />
            ASP.NET HTML扩展辅助函数
            <br />
            jQuery + JSON + MVC Action
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entity Framework 6</h2>
        <p>
            "Code First"开发思路
            <br />
            LINQ to Entity Framework
            <br />
            模型字段验证
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/entity-framework">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web UI</h2>
        <p>
            Bootstrap页面布局
            <br />
            Bootbox
            <br />
            DateTimePicker
        </p>
        <p><a class="btn btn-default" href="http://www.bootcss.com">了解更多 &raquo;</a></p>
    </div>
</div>