@{
    ViewBag.Title = "验证电子邮件";
}

<h2>验证您的电子邮件地址</h2>
<p>
    您的电子邮件地址尚未验证。
    <br />
    我们已经向您的注册邮箱发送了一封电子邮件，请您按照邮件内容完成验证。
</p>
<p>
    作为演示，您也可以点击<a href="@Model">此处</a>直接验证电子邮件。(在本项目中仅作为演示使用)
</p>

