@{
    ViewBag.Title = "忘记密码";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        我们已经向您的注册邮箱发送了一封电子邮件，请按照邮件中的提示重设您的密码。
    </p>
    <p>
        作为演示，您也可以点击<a href="@Model">此处</a>直接重设密码。(在本项目中仅作为演示使用)
    </p>
</div>
	
