@{
    ViewBag.Title = "重设密码";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        密码重设成功！ 现在您可以点击
        @Html.ActionLink("此处", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        登录
    </p>
</div>
