@model CoolMeetingWeb.Models.Department

@{
    ViewBag.Title = "部门";
}

<h2>删除部门</h2>

<div>
    <h4>确定要删除部门【@Model.DepartmentName】吗？</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <input type="submit" value="确定" class="btn btn-primary" /> |
            @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
